<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visit Counter</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <h1>Profile page</h1>

    <div>
      <p>Welcome back, {{ username }}!</p>
      <p>Your session will expire in {{ remaining_time }} seconds.</p>
    </div>

    <div>
      <a href="/logout">
        <p>Sair</p>
      </a>
    </div>
  </body>
</html>
